

.navbar {
    padding: 15px 20px;
    display: flex;
    justify-content: space-around;
    background-color: white;
    font-family: "Jost", Sans-serif;
    font-weight: 500;
}

.navbar-brand img {
    height: 100px;
    width: auto;
}

.menu {
    display: flex;
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.menu ul li {
    padding: 10px 20px;
}

.menu ul li a {
    text-decoration: none;
    color: #000000;
    /* Color de texto del menú */
}

.menu ul li a:hover{
    color: #636262;
}

.navbar-toggler {
    display: none;
    /* Oculta el botón de menú en tamaños de pantalla de escritorio */
}

@media (max-width: 768px) {
    .menu {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #ffffff;
    }

    .menu.active {
        display: flex;
        flex-direction: column;
    }

    .menu ul {
        flex-direction: column;
        align-items: center;
    }

    .menu ul li {
        padding: 10px 0;
    }

    .navbar-toggler {
        display: block;
        /* Muestra el botón de menú en tamaños de pantalla móviles */
    }

    .navbar {
        flex-direction: column;
    }
}

/* PRUEBA NAVBAR */



.fixed-top {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}


/* STYLE PRESENTACION EMPRESA */
.containerEmpresa {
    margin-top: 5%;
    width: 100%;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    justify-content: center;
    font-size: 1.1em;
    line-height: 1.6em;
    padding: 6%;
    margin-bottom: 5%;
    background: #f0f0f0;
}

.containerVision {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.visionEmpresa {
    width: 100%;

}

.visionEmpresa h1 {
    font-size: 25px;
    padding: 2%;
}

.containerEmpresa p {
    color: #636262;
    padding: 4% 10%;
    line-height: 1.6em;
}

/* STYLE HR */
.line {
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
}

/* STYLE PRESENTACION SERVICIOS */
.containerService {
    margin-top: 5%;
    width: 100%;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    justify-content: center;
    font-size: 1.1em;
    line-height: 1.6em;
    padding: 6%;
    background: #f0f0f0;
    margin-bottom: 5%;

}

.containerService p {
    color: #636262;
    padding: 4% 10%;
    line-height: 1.6em;
}

.containerCard {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.containerCard figure {
    position: relative;
    height: auto;
    width: auto;
    overflow: hidden;
    cursor: pointer;
}

.containerCard figure img {
    width: 100%;
    height: 100%;
    transition: all 500ms ease-out;
}

.containerCard figure .capa {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    transition: all 500ms ease-out;
    opacity: 0;
    visibility: hidden;
    text-align: center;
    background: rgba(11, 103, 123, 0.6);
}


.containerCard figure:hover>.capa {
    opacity: 1;
    visibility: visible;
}

.containerCard figure:hover>img {
    transform: scale(1.3);
}

.containerCard figure:hover>.capa p {
    opacity: 1;
    padding-top: 12%;
    visibility: visible;
    color: #fff;
    font-size: 15px;
    line-height: 1.5;
    width: 100%;
    top: 2%;
    margin: auto;
    transition: all 500ms ease-out;
    max-width: 220px;
    font-weight: bold;
}

.card {
    margin: 2%;

}

.containerSomos {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5%;
}

.containerSomos .somos h1 {
    font-size: 25px;
    padding: 2%;
}

.containerExperiencia {
    background: #f0f0f0;
    margin-top: 5%;
    width: 100%;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    justify-content: center;
    font-size: 1.1em;
    line-height: 1.6em;
    padding: 6%;
    margin-bottom: 5%;

}

.containerExperiencia h1,
img {
    margin-bottom: 5%;
}

.containerE {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.experienceText h2 {
    font-size: 20px;
    font-weight: 480;
}

.containerE p {
    color: #636262;
}

.carousel-inner img {
    height: 500px;
}

#carouselExampleIndicators{
    margin-top: 131px !important;
}

/* FOOTER */

footer {
    z-index: 1;
    bottom: 0;
    top: 100%;
    text-align: center;
    background-color: #0d141f;
    color: #ffffff;
    
}

footer .container ul {
    display: flex;
    flex-direction: column;
    list-style: none;
}

.container {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}

.container a{
    color: #ffffff;
    text-decoration: none;
    
}

@media screen and (min-width: 760px) {
    .imagText {
        display: flex;
        flex-direction: row;
        gap: 3rem;
    }


}

@media screen and (max-width: 760px) {
    .containerCard {
        display: flex;
        flex-direction: column;
    }

    .containerSomos {
        display: flex;
        flex-direction: column;
    }

    .containerVision {
        display: flex;
        flex-direction: column;
    }

    .container {
        display: flex;
        flex-direction: column;
        font-size: 15px;
    }

 
}