/* STYLE PRESENTACION EMPRESA */
.containerEmpresa{
    margin-top: 5%;
    width: 100%;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    justify-content: center;
    font-size: 1.1em;
    line-height: 1.6em;
    padding: 6%;
    margin-bottom: 5%;
    background: #f0f0f0;
}

.containerVision{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.visionEmpresa{
    width: 100%;
    
}

.visionEmpresa h1{
    font-size: 25px;
    padding: 2%;
}

.containerEmpresa p {
    color: #636262;
    padding: 4% 10%;
    line-height: 1.6em;
}

/* STYLE HR */
.line{
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
}

/* STYLE PRESENTACION SERVICIOS */
.containerService{
    margin-top: 5%;
    width: 100%;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    justify-content: center;
    font-size: 1.1em;
    line-height: 1.6em;
    padding: 6%;
    background: #f0f0f0;
    margin-bottom: 5%;

}

.containerService p {
    color: #636262;
    padding: 4% 10%;
    line-height: 1.6em;
}

.containerCard{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.card{
    margin: 2%;

}

.containerSomos{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5%;
}

.containerSomos .somos h1{
    font-size: 25px;
    padding: 2%;
}

.containerExperiencia{
    margin-top: 5%;
    background: #f0f0f0;
}