/* STYLE PRESENTACION EMPRESA */
.containerEmpresa{
    margin-top: 5%;
    width: 100%;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    justify-content: center;
    font-size: 1.1em;
    line-height: 1.6em;
    padding: 6%;
    margin-bottom: 5%;
    background: #f0f0f0;
}

.containerVision{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.visionEmpresa{
    width: 100%;
    
}

.visionEmpresa h1{
    font-size: 25px;
    padding: 2%;
}

.containerEmpresa p {
    color: #636262;
    padding: 4% 10%;
    line-height: 1.6em;
}

/* STYLE HR */
.line{
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
}

/* STYLE PRESENTACION SERVICIOS */
.containerService{
    margin-top: 5%;
    width: 100%;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    justify-content: center;
    font-size: 1.1em;
    line-height: 1.6em;
    padding: 6%;
    background: #f0f0f0;
    margin-bottom: 5%;

}

.containerService p {
    color: #636262;
    padding: 4% 10%;
    line-height: 1.6em;
}

.containerCard{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.containerCard figure{
    position: relative;
    height: auto;
    width: auto;
    overflow: hidden;
    cursor: pointer;
}

.containerCard figure img{
    width: 100%;
    height: 100%;
    transition: all 500ms ease-out;
}

.containerCard figure .capa{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    transition: all 500ms ease-out;
    opacity: 0;
    visibility: hidden;
    text-align: center;
    background: rgba(11, 103, 123, 0.6);
}


.containerCard figure:hover > .capa{
    opacity: 1;
    visibility: visible;
}

.containerCard figure:hover > img{
    transform: scale(1.3);
}

.containerCard figure:hover > .capa p{
    opacity: 1;
    padding-top: 12%;
    visibility: visible;
    color: #fff;
    font-size: 15px;
    line-height: 1.5;
    width: 100%;
    top: 2%;
    margin: auto;
    transition: all 500ms ease-out;
    max-width: 220px;
    font-weight: bold;
}

.card{
    margin: 2%;

}

.containerSomos{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5%;
}

.containerSomos .somos h1{
    font-size: 25px;
    padding: 2%;
}

.containerExperiencia{
    background: #f0f0f0;
    margin-top: 5%;
    width: 100%;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    justify-content: center;
    font-size: 1.1em;
    line-height: 1.6em;
    padding: 6%;
    background: #f0f0f0;
    margin-bottom: 5%;

}

.containerExperiencia h1{
    margin-bottom: 3%;
}
.containerE{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.experienceText h2{
    font-size: 20px;
    font-weight:450;

}

.containerE img{
    width: 30%;
    max-width: 100%;
}



.carousel-inner img{
    height: 500px;
}    

